$accent: #82B5D1;
$accent2: #F3F2F0;
$default: #344854;
%OpenSansCondensed-300 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

%OpenSansCondensed-400 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
}

%OpenSansCondensed-700 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

%PoiretOne-400 {
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
}